<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field appearance="fill">
            <mat-label>שם משימה</mat-label>
            <mat-select appearance="fill">
                <mat-option *ngFor="let assignment of assignments" [value]="assignment.id">{{ assignment.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="class-radio" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
            <label id="radio-class-label">בחר כיתה</label>
            <mat-radio-group aria-label="radio-class-label" fxLayoutGap="10px" required [(ngModel)]="selectedClass" (change)="changeClass()">
                <mat-radio-button color="primary" value="0">כיתה ד'1</mat-radio-button>
                <mat-radio-button color="primary" value="1">כיתה ד'2</mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-form-field>
            <mat-label>שם התלמיד</mat-label>
            <input type="txt" matInput placeholder="שם התלמיד" ngModel name="name" id="name" required [formControl]="myControl" [matAutocomplete]="auto" />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>

            <!-- <mat-error>enter a valid email</mat-error> -->
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">
      Sign Up
    </button>
    </form>
</section>