<section class="signup-form">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field appearance="fill">
            <mat-label>שם משימה</mat-label>
            <mat-select appearance="fill" [(ngModel)]="selectedAssignment">
                <mat-option *ngFor="let assignment of assignments" [value]="assignment.id">{{ assignment.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="class-radio" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
            <label id="radio-class-label">בחר כיתה</label>
            <mat-radio-group aria-label="radio-class-label" fxLayout="column" fxLayoutGap="10px" [(ngModel)]="selectedClassId" (change)="changeClass()">
                <mat-radio-button color="primary" *ngFor="let class of classes" [value]="class.id">{{ class.name }}</mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-form-field>
            <mat-label>שם התלמיד</mat-label>
            <input type="txt" matInput placeholder="שם התלמיד" [(ngModel)]="studentName" [formControl]="myControl" [matAutocomplete]="auto" />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">

            <button mat-raised-button [disabled]="!validForm()" color="primary">
      הגשה
    </button>
        </div>
</section>
